* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat',sans-serif;
}

.card {
  background-color: #000;
  opacity: 0.6;
  padding: 1.5em;
  border-radius: 30px;
  width: 100%;
  max-width: 380px;
  margin: 1em;
  color: white;
  line-height: 3em;
}
.card:hover {
  border-color: rgb(255, 255, 255);
  border-radius: 30pxx;
  border-width: 4px;
  border-style: double;
  width: 100%;
  max-width: 380px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search input::placeholder, .search input{
  font-family: 'Montserrat';
}

.city {
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

.coordinates {
  font-size: 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.main {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.description {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.weather-icon {
  width: 300px;
  height: 128px;
  margin: auto;
  display: flex;
  align-items: center;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
  width: 4em;
}

.othertemp {
  font-size: 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.alts {
  font-size: 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 4em;
  width: 4em;
  outline: invert;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.8em;
  border: white 4px solid;
  border-style: double;
  border-radius: 18px;
  background: #7c7c7c2b;
  color: #fff;
  font-size: 120%;
}
